@model AssetDeprciation.ViewModel.ParentViewModel
@{
    ViewBag.Title = "CompanyActRateMaster";
}
<script src="~/Scripts/jquery-ui.js"></script>
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jtable/jquery.jtable.js"></script>
<link href="~/Scripts/jtable/themes/metro/darkgray/jtable.css" rel="stylesheet" />
<link href="~/Scripts/jtable/themes/jqueryui/jtable_jqueryui.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        $("#ddlGroup").change(function () {
            $("#ddlSubGroup").prop("disabled", false);
            $.ajax({
                url: '/CompanyActRateMaster/GetSubgrouplist',
                type: 'POST',
                dataType: 'json',
                data: { GroupCode: $("#ddlGroup option:selected").val() },
                success: function (data) {
                    $("#ddlSubGroup").html("");
                    $("#ddlSubGroup").prop("disabled", false);
                    $("#ddlSubGroup").append("<option value=''>Select Sub Group</option>");
                    for (var i = 0; i < data.DropDownViewModel.SubGroupList.length; i++) {
                        $("#ddlSubGroup").append($("<option></option>").val(data.DropDownViewModel.SubGroupList[i].Value).html(data.DropDownViewModel.SubGroupList[i].Text));
                    }
                }
            });
        });


        $("#ddlSubGroup").change(function () {
            $("#ddlMethod").prop("disabled", false);
            $.ajax({
                url: '/CompanyActRateMaster/GetMethodlist',
                type: 'POST',
                dataType: 'json',
                data: { SubGroupCode: $("#ddlSubGroup option:selected").val() },
                success: function (data) {
                    $("#ddlMethod").prop("disabled", false);
                    
                    $("#ddlMethod").val(data.Method_Code);
                    
                }
            });
        });


        $("#CompanyActForm").validate();
        $("#ddlGroup").rules("add", { required: true, messages: { required: "Select Group" } });
        $("#ddlSubGroup").rules("add", { required: true, messages: { required: "Select SubGroup" } });
    });

</script>
<style>
    label.error {
        color: #b94a48;
    }

    select.error {
        border: 1px solid #b94a48;
    }

    input.error {
        border: 1px solid #b94a48;
    }
</style>
<br />
<br />
@using (Html.BeginForm("CompanyActRateMaster", "CompanyActRateMaster", FormMethod.Post, new { @id = "CompanyActForm" }))
{
    <h1>Company Act Rate</h1>
    <table>
        <tr>
            <td>Group Name</td>
            <td>@Html.DropDownListFor(x => x.Jct_Asset_Dep_Group.GroupCode, Model.DropDownViewModel.GroupList, "Select Group", new { @id = "ddlGroup" })</td>
        </tr>
        <tr>
            <td>SubGroup Name</td>
            <td>@Html.DropDownListFor(x => x.Jct_Asset_Dep_SubGroup.SubGroup_Code, Enumerable.Empty<SelectListItem>(), new { @id = "ddlSubGroup", @disabled = true })</td>

        </tr>


        <tr>
            <td>Method</td>
            <td>@Html.DropDownListFor(x => x.Jct_Asset_Dep_SubGroup.SubGroup_MethodCode, Model.DropDownViewModel.MethodList,"Select Method", new { @id = "ddlMethod", @disabled = true })</td>
        </tr>

        <tr>
            <td>Shift</td>
            <td>@Html.DropDownListFor(x => x.Jct_Asset_Dep_SubGroup.SubGroup_ShiftCode, Model.DropDownViewModel.ShiftList, "Select Shift", new { @id = "SubGroupShift" })</td>
        </tr>
        <tr>
            <td>Group Life</td>
            <td>@Html.TextBoxFor(x => x.Jct_Asset_Dep_CompanyActRate.Group_Life, new { @id = "GroupLife" })</td>

            @*<td>@Html.TextBoxFor(x => x.Jct_Asset_Dep_CompanyActRate.Method)</td>*@

        </tr>

        <tr>
            <td>Estimated Useful  SubGroup Life</td>
            <td>@Html.TextBoxFor(x => x.Jct_Asset_Dep_CompanyActRate.SubGroup_EstimatedLife, new { @id = "EstimateGroupLife" })</td>

            @*<td>@Html.TextBoxFor(x => x.Jct_Asset_Dep_CompanyActRate.Method)</td>*@

        </tr>

        @*<tr>
            <td>Depreciation Rate(Prior ComAct2013)</td>
            <td>@Html.TextBoxFor(x => x.Jct_Asset_Dep_CompanyActRate.Rate)</td>
        </tr>*@
        <tr>
            <td>
                Accounting  Year
            </td>
            <td>
                @Html.DropDownListFor(x => x.FinancialYearMasterModel.FinYear, Model.DropDownViewModel.FinancialYearList)
            </td>
        </tr>
        <tr>
        <tr>

            <td><input type="Submit"></td>
            <td></td>
        </tr>
    </table>
}
